<div class="container">
  <div class="hidescroll">
    <div id="innerscreen">
      <header class="clearfix">
        <div id="actions">
          <a href="/my_hikes" class="action" id="action-home">home</a>
          <a href="/sort" class="action" id="action-sort">sort</a>
          <a href="/filter" class="action" id="action-filter">filter</a>
          <a href="/about" class="action" id="action-question">question</a>
        </div>

        <div id="day-of-week"><%= @date.strftime('%A') %></div>
        <div id="date"><%= @date.strftime('%d %b %Y') %></div>
      </header>
      <script>
        // var abc = '<%= raw @my_hikes.to_json %>';
      </script>
      <main>
        <div id="routes">
          <% @my_hikes.sort { |a,b| a.parent.aqi <=> b.parent.aqi if b.parent.aqi }.each do |my_hike| %>

          <a href="my_hikes/<%=my_hike.id%>" class="viewhike" title="">
            <div class="route-wrapper" data-aqi="<%= my_hike.parent.aqi %>">
              <div class="route clearfix <%= "aqi-level-" + ((my_hike.parent.aqi.to_i)/26 + 2).to_s %>">
                <div class="name"><%= my_hike.trail %>, <span><%= my_hike.parent.area %></span></div>
                <div class="freshness">
                  <span class="<%= my_hike.parent.area.downcase.sub('/','').split(' ').join('-') %>-aqi">
                    <%= (( 1 - (my_hike.parent.aqi.to_f/300) ) * 100).to_i %>
                  </span>
                  <span id="freshnesstext">% freshness</span>
                </div> 
                <div class="distance blue-btn">
                  <span class="metalabels">Distance:</span><br>
                  <%= my_hike.distance_in_km %>km
                </div> 
                <div class="climb blue-btn">
                  <span class="metalabels">Climb:</span><br>
                  <%= my_hike.climb.to_i %>m
                </div> 
              </div>
            </div>
          </a>
          <% end %>
        </div>
      </main>
    </div>
  </div>
</div>
<!-- 
<h1>Listing my_hikes</h1>

<table>
  <thead>
    <tr>
      <th>Hike name</th>
      <th>Distance in km</th>
      <th>Distance category</th>
      <th>Difficulty</th>
      <th>Duration</th>
      <th>Elevation chart</th>
      <th>Start elevation</th>
      <th>Max elevation</th>
      <th>Gain</th>
      <th>Description</th>
      <th>District</th>
      <th>Trail</th>
      <th>Hike start</th>
      <th>Hike end</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @my_hikes.each do |my_hike| %>
      <tr>
        <td><%= my_hike.hike_name %></td>
        <td><%= my_hike.distance_in_km %></td>
        <td><%= my_hike.distance_category %></td>
        <td><%= my_hike.difficulty %></td>
        <td><%= my_hike.duration %></td>
        <td><%= my_hike.elevation_chart %></td>
        <td><%= my_hike.start_elevation %></td>
        <td><%= my_hike.max_elevation %></td>
        <td><%= my_hike.climb %></td>
        <td><%= my_hike.description %></td>
        <td><%= my_hike.trail %></td>
        <td><%= my_hike.hike_start %></td>
        <td><%= my_hike.hike_end %></td>
        <td><%= link_to 'Show', my_hike %></td>
        <td><%= link_to 'Edit', edit_my_hike_path(my_hike) %></td>
        <td><%= link_to 'Destroy', my_hike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My hike', new_my_hike_path %>
 -->