
  <div class="container">
    <div class="hidescroll">
      <div class="innerscreen">
        <header class="clearfix">
          <div id="page-title-wrapper">
            <div id="page-title"><%= @my_hike.trail %></div>
            <a href="/my_hikes" class="topnav" id="topnav-left">left</a>
            <a href="/hike_mode/<%= @my_hike.id %>" class="topnav" id="topnav-play">play</a>
          </div>
        </header>

        <main>
          <div class="map">
            <iframe width="265px" height="220px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="<%= @map_url %>">
            </iframe>
          </div>
  <!--         <div id="elevationgraph">
          </div> -->
          <div id="routehidescroll">
            <div class="route-details">
              <div class="meta">
                <div class="freshness <%= "showaqi-level-" + ((@my_hike.parent.aqi.to_i)/26 + 2).to_s %>">
                  <span>
                    <% if @district.aqi %>
                       <%= (( 1 - (@district.aqi.to_f/300) ) * 100).to_i %>
                    <% end %>
                  </span>
                  % freshness
                </div>
                <div class="health risk">
                  <% if @my_hike.parent.aqhi_health_risk %>
                     <%= @my_hike.parent.aqhi_health_risk %>
                  <% end %>
                </div> 
                <% if @my_hike.distance_in_km %>
                  <div class="distance">
                     <span class="metalabels">Distance:</span><br>
                    <%= @my_hike.distance_in_km %>km
                  </div> 
                <% end %>
              </div>
              <div class="body">
                <% if @district.area %>
                  <strong>District:</strong>
                    <%= @district.area %>
                  <br>
                <% end %>
                <% if @my_hike.distance_category %>
                  <strong>Distance Category:</strong>
                    <%= @my_hike.distance_category %>
                  <br/>
                <% end %>
                <% if @my_hike.duration %>
                  <strong>Duration:</strong> 
                  <%= @my_hike.duration %>
                  <br>
                <% end %>
                <% if @district.temp && @district.temp =! 0 %>
                  <strong>Temperature:</strong>
                  <%= @district.temp %>°C
                <% end %>
                <% if @district.aqi_updated_on %>
                  <div>
                  <strong> Freshness Factor:</strong> 
                  <%= @district.aqi_updated_on %>
                  </div>
                <% end %>
                <br>
                <% if @my_hike.description %>
                  <div class="description">
                    <%= @my_hike.description %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>

<p>