<p id="notice"><%= notice %></p>

<p>
  <% if @my_hike.hike_name %>
    <strong>Hike name:</strong>
    <%= @my_hike.hike_name %>
  <% end %>
</p>

<p>
  <% if @my_hike.distance_in_km %>
      <strong>Distance in km:</strong>
      <%= @my_hike.distance_in_km %>
  <% end %>
</p>

<p>
  <% if @my_hike.distance_category %>
    <strong>Distance category:</strong>
    <%= @my_hike.distance_category %>
  <% end %>
</p>

<p>
  <% if @my_hike.difficulty %>
    <strong>Difficulty:</strong>
    <%= @my_hike.difficulty %>
  <% end %>
</p>

<p>
  <% if @my_hike.duration %>
    <strong>Duration:</strong>
    <%= @my_hike.duration %>
  <% end %>
</p>

<p>
  <% if @my_hike.elevation_chart %>
    <strong>Elevation chart:</strong>
    <%= @my_hike.elevation_chart %>
  <% end %>
</p>

<p>
  <% if @my_hike.start_elevation %>
    <strong>Start elevation:</strong>
    <%= @my_hike.start_elevation %>
  <% end %>
</p>

<p>
  <% if @my_hike.max_elevation %>
    <strong>Max elevation:</strong>
    <%= @my_hike.max_elevation %>
  <% end %>
</p>

<p>
  <% if @my_hike.climb %>
    <strong>Climb:</strong>
    <%= @my_hike.climb %>
  <% end %>
</p>

<p>
  <% if @my_hike.description %>
    <strong>Description:</strong>
    <%= @my_hike.description %>
  <% end %>
</p>

<p>
  <% if @my_hike.district %>
    <strong>District:</strong>
    <%= @my_hike.district %>
  <% end %>
</p>

<p>
  <% if @my_hike.trail %>
    <strong>Trail:</strong>
    <%= @my_hike.trail %>
  <% end %>
</p>

<p>
  <% if @my_hike.hike_start %>
    <strong>Hike start:</strong>
    <%= @my_hike.hike_start %>
  <% end %>
</p>

<p>
  <% if @my_hike.hike_end %>
    <strong>Hike end:</strong>
    <%= @my_hike.hike_end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_my_hike_path(@my_hike) %> |
<%= link_to 'Back', my_hikes_path %>
